---
server_name: "{{ansible_facts['fqdn']}}"
certbot_mail: yourmail@example.org
mariadb_root_password: blabla
mariadb_socket: /var/run/mysqld/mysqld.sock
mariadb_mailadmin_password: toto
mariadb_mailserver_password: tutu
rspamd_web_password: blop
rspamd_dkim_selector_map:
  - domain: example.org
    selector: 2020042101

# Nanolist variables
nanolist:
  address: lists@lists.example.org
  password: loulou
  domain: lists.example.org
